<h1>Dragon Ball</h1>
<hr />
<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar Personaje: {{`${name()} - ${power()}`}}</h3>
    <input
      type="text"
      class="form-control my-3"
      placeholder="nombre"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <input type="number" class="form-control my-3" placeholder="Poder"
    [value]="power()"
      (input)="power.set(txtPower.valueAsNumber)"
      #txtPower/>
    <button class="mt-2 btn btn-primary" (click)="addCharacter()">Add</button>
  </div>
  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ol>
      @for(character of characters(); track character.id ){
      <li>
        <span>{{ character.name }} -> </span>
        <strong
          [class.text-danger]="character.power > 9000"
          [class.text-primary]="character.power < 9000"
          >{{ character.power }}</strong
        >
      </li>
      }
    </ol>
  </div>
</section>
